button.clo {
    background-color: transparent;
    z-index: 1;
    border: none;
    left: 89%;
    font-size: xx-large;
    border-radius: 0px;
    font-weight: bold;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.clo:focus {
    outline: none;
}
 .login-input.m{
      margin-bottom: 4%;
}
.for{
    width: 100%;
}

